* {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    min-width: 1000px;
    margin: 0;
}

.el-main {
    display: flex;
    justify-content: center;
}

.header {
    color: white;
    background-color: #181818;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left a {
    font-size: 25px;
    text-decoration-line: none;
    color: white;
    display: flex;
    align-items: center;
}

.header-right {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right a {
    margin-right: 25px;
    text-decoration-line: none;
    color: white;
}

.countryRed {
    background-color: #d91f2f;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

