<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.test_service.mapper.TestInfoMapper">

    <resultMap id="BaseResultMap" type="com.kevin.test_service.pojo.TestInfo">
        <id property="testId" column="test_id" jdbcType="INTEGER"/>
        <result property="testName" column="test_name" jdbcType="CHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="publisher" column="publisher" jdbcType="CHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="tryLimit" column="try_limit" jdbcType="SMALLINT"/>
        <result property="openTime" column="open_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="difficulty" column="difficulty" jdbcType="CHAR"/>
        <result property="studyNum" column="study_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        test_id,test_name,description,
        publisher,status,try_limit,
        open_time,end_time,difficulty,
        study_num
    </sql>
</mapper>
